@CHARSET "UTF-8";

label{
  font-family: 'BM';
}
span{
  display : block;
  font-family: 'NS';
  color: red;
}
h1{
	font-size: 100px; 
	font-family: '28D';
}
h3{
	font-family: 'NS';
}
input{
	font-family: 'NS';
}