<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="getBoardOne" parameterType="com.intern.board.BoardVO"
		resultType="com.intern.board.BoardVO">
		SELECT
		SCODE,ENTRYNUM,TITLE,WRITER,REGISTRATIONDATE,VIEWCOUNT,CONTENT,IMGPATH
		FROM 
		STATION_BOARD
		WHERE
		SCODE=#{scode}
		AND ENTRYNUM=#{entryNum}
	</select>

	<select id="getBoardList" parameterType="com.intern.station.StationVO"
		resultType="com.intern.board.BoardVO">
		SELECT 	
				SCODE,ENTRYNUM,TITLE,WRITER,REGISTRATIONDATE,VIEWCOUNT,CONTENT,IMGPATH
		FROM 
		    	STATION_BOARD
		WHERE 
				SCODE=#{scode}
		ORDER BY 
				ENTRYNUM DESC
	</select>

	<select id="getEntryCount" parameterType="com.intern.station.StationVO"
		resultType="int">
		SELECT 
		COUNT(*)
		FROM 
		STATION_BOARD
		WHERE 
		SCODE=#{scode}
	</select>

	<insert id="insertBoard" parameterType="com.intern.board.BoardVO">
		INSERT INTO
		STATION_BOARD
		(SCODE,TITLE,WRITER,REGISTRATIONDATE,VIEWCOUNT,CONTENT,IMGPATH)
		VALUES
		(#{scode},#{title},#{writer},sysdate(),0,#{content},#{imgPath})
	</insert>

	<delete id="deleteBoard" parameterType="com.intern.board.BoardVO">
		DELETE FROM 
		STATION_BOARD
		WHERE
		SCODE = #{scode} 
		AND ENTRYNUM=#{entryNum}
	</delete>

	<update id="updateBoard" parameterType="com.intern.board.BoardVO">
		UPDATE STATION_BOARD
		SET
		TITLE=#{title},CONTENT=#{content}
		<if test="imgPath!=null">
		,IMGPATH=#{imgPath}
		</if>
		WHERE
		SCODE = #{scode} 
		AND ENTRYNUM = #{entryNum}
	</update>

	<update id="updateViewcount" parameterType="com.intern.board.BoardVO">
		UPDATE STATION_BOARD
		SET
		VIEWCOUNT=VIEWCOUNT+1
		WHERE
		SCODE = #{scode} 
		AND ENTRYNUM = #{entryNum}
	</update>
	
	<select id="getSearchBoard" parameterType="java.util.Map"
		resultType="com.intern.board.BoardVO">
		SELECT 
		SCODE,ENTRYNUM,TITLE,WRITER,REGISTRATIONDATE,VIEWCOUNT,CONTENT,IMGPATH
		FROM 
		(SELECT
		SCODE,ENTRYNUM,TITLE,WRITER,REGISTRATIONDATE,VIEWCOUNT,CONTENT,IMGPATH
		FROM 
		STATION_BOARD
		WHERE
		SCODE=#{scode}
		ORDER BY 
		ENTRYNUM DESC) BOARD
		WHERE 
		TITLE LIKE CONCAT('%',#{search},'%') 
		OR WRITER LIKE CONCAT('%',#{search},'%')
	</select>
	
	<select id="getSearchBoardCount" parameterType="java.util.Map"
		resultType="Integer">
		SELECT 
		COUNT(*)
		FROM 
		(SELECT
		SCODE,ENTRYNUM,TITLE,WRITER,REGISTRATIONDATE,VIEWCOUNT,CONTENT,IMGPATH
		FROM 
		STATION_BOARD
		WHERE
		SCODE=#{scode}
		ORDER BY 
		ENTRYNUM DESC) BOARD
		WHERE
		TITLE LIKE CONCAT('%',#{search},'%') 
		OR WRITER LIKE CONCAT('%',#{search},'%')
	</select>
	

</mapper>
