<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">
	<select id="getCommentList" parameterType="com.intern.comment.CommentVO" 
		resultType="com.intern.comment.CommentVO">
		
		SELECT
				scode,entryNum,commentSeq,content,writer,CONVERT_TZ(registrationDate, '+0:00', '-9:00') registrationDate
		FROM
				station_comments
		WHERE 
				scode = #{scode}
		AND 
				entryNum=#{entryNum}
	</select>

	<insert id="insertComment" parameterType="com.intern.comment.CommentVO">
		INSERT INTO
				station_comments
				(scode,entryNum,content,writer,registrationDate)
		VALUES
				(#{scode},#{entryNum},#{content},#{writer},sysdate())
	</insert>

	<delete id="deleteComment" parameterType="com.intern.comment.CommentVO">
		DELETE FROM
				station_comments
		WHERE 
				scode = #{scode} 
		AND 
				entryNum = #{entryNum} 
		AND 
				commentSeq = #{commentSeq}
	</delete>


	<select id="getCommentOne" parameterType="com.intern.comment.CommentVO"
		resultType="com.intern.comment.CommentVO">
		SELECT
				scode,entryNum,commentSeq,content,writer,CONVERT_TZ(registrationDate, '+0:00', '-9:00') registrationDate
		FROM
				station_comments
		WHERE 
				scode = #{scode} 
		AND 
				entryNum=#{entryNum} 
		AND 
				commentSeq=#{commentSeq}
	</select>

	<update id="updateComment" parameterType="com.intern.comment.CommentVO">
		UPDATE 
				station_comments
		SET 
				content=#{content}
		WHERE
				scode = #{scode} 
		AND 
				entryNum = #{entryNum} 
		AND 
				commentSeq = #{commentSeq}
	</update>

</mapper>
