<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id="getMemberOne" parameterType="com.intern.login.MemberVO" 
	resultType="com.intern.login.MemberVO">
	
		SELECT 
				id,pw,name,gender,address 
		FROM 
				member_info
		WHERE
				id=#{id}
	</select>
	
    <insert id="insertMember" parameterType="com.intern.login.MemberVO">
		INSERT INTO 
				member_info
		VALUES
				(#{id},#{pw},#{name},#{gender},#{address})
	</insert>
	
	<select id="getIdCheck" resultType="int" parameterType="com.intern.login.MemberVO">
		SELECT 
				COUNT(*)
		FROM 
				member_info
		WHERE
				id=#{id}			
	</select>

</mapper>
