<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 	<typeAliases>
		<typeAlias type="com.intern.login.MemberInfoVO" alias="MemberInfoVo"></typeAlias>
		<typeAlias type="com.intern.main.StationInfoVO" alias="StationInfoVO"></typeAlias>
		<typeAlias type="com.intern.board.BoardVO" alias="BoardVO"></typeAlias>
		<typeAlias type="com.intern.comment.CommentVO" alias="CommentVO"></typeAlias>
	</typeAliases>
 -->
 <settings>
 <setting name="safeRowBoundsEnabled" value="false"/>
 <setting name="mapUnderscoreToCamelCase" value="true"/>
 </settings>
 
 
</configuration>
