<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="station">

	 <select id="getStationInfo" parameterType="int" resultType="com.intern.station.StationVO">
		SELECT 
				scode,sname,line,x,y
		FROM 
				station_main
		WHERE
				line=#{line}
		ORDER BY 
				seq
	</select>
	
	<select id="getStationName" parameterType="com.intern.station.StationVO" resultType="String">
		SELECT 
				sname 
		FROM 
				station_main
		WHERE 
				scode=#{scode}
	</select>

</mapper>
