<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="getBoardList" parameterType="java.util.Map" resultType="BoardVO">
		SELECT * FROM station_board
		where scode=#{scode}
		order by entry_num desc limit #{startEntry},#{limit}
	</select>
	
	<select id="getBoardOne" parameterType="hashMap" resultType="BoardVO">
		SELECT * FROM station_board
		where  scode='${scode}' and entry_num=${entry_num}
	</select>
	
<select id="getEntryCount" resultType="int">
		SELECT count(*) FROM station_board
	</select>
	
 <insert id="insertBoard" parameterType="BoardVO">
   INSERT INTO station_board(scode,title,writer,registration_date,viewcount,content,img_path) VALUES(#{scode},
   #{title},#{writer},sysdate(),#{viewcount},#{content},#{img_path})
 </insert>

 <update id="updateViewcount" parameterType="java.util.Map">
		UPDATE station_board
		SET
		viewcount=viewcount+1
		WHERE
		scode = #{scode} and entry_num=#{entry_num}
	</update>
	
    <delete id="deleteBoard" parameterType="java.util.Map">
		DELETE FROM station_board WHERE
		scode = #{scode} and entry_num=#{entry_num}
	</delete>

    <update id="updateBoard" parameterType="BoardVO">
		UPDATE station_board
		SET
		title=#{title},content=#{content}
		<if test="img_path!=null">
		,img_path=#{img_path}  
		</if>
		WHERE
		scode = #{scode} and entry_num=#{entry_num}
	</update>
	
    <select id="getSearchBoard" parameterType="java.util.Map" resultType="BoardVO">
		SELECT * FROM station_board
		where scode=#{scode}
		<if test='select=="writer"'>
		and writer like #{search}
		</if>
		<if test='select=="title"'>
		and title like #{search}
		</if>
	</select>
<!-- 
	<resultMap type="#modelname" id="YourResultSet">
		<id property="param1" column="columnname1" />
		<result property="param2" column="columnname2" />
		<result property="param3" column="columnname3" />
	</resultMap>

	<select id="getAll" resultMap="YourResultSet">
		SELECT * FROM tablename1
	</select>

	<insert id="insertSomething" parameterType="#modelname">
		INSERT INTO tablename1 (columnname1, columnname2, columnname3)
		VALUES(#{value1},#{value2},#{value3})
	</insert>
 -->
</mapper>
